.container{
  padding: 20px;
  display: flex;
  width: 800px;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile{
  margin-top: 2px;
  margin-left: 2px;
  background-color: rgb(166, 169, 173);
  padding: 1px;
  height: 60px;
  width:60px;
}
